<style>.generalbox {
    margin: auto;
}
.strip-wrap {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    border-top: 0.06rem solid #eee;
    border-bottom: 0.06rem solid #eee;
    padding: 3rem 0;
}
.stripe-left {
    width: 45%;
}
.stripe-right {
    flex: auto;
}
.stripe-img {
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0rem 1rem 2.5rem #645cff2e;
}
.couponcode-wrap {
    padding: 1rem 0 1.5rem 0;
    border-bottom: 0.06rem solid #eee;
    margin: 0 0 1.25rem;
}
.stripe-line-left {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin: 0.5rem 0;
}
.stripe-line-left span {
    font-weight: 700;
}
.stripe-buy-btn {
    text-align: center;
    margin: 2rem 0 0;
    background: #1177d1;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem #645cff2e;
}
.stripe-cupon-input input#coupon {
    border-radius: 1rem;
}
.stripe-cupon-apply#apply {
    border-radius: 1rem;
    background: #0a2540;
}
.stripe-dclr {
    margin: 0;
    border-bottom: 0.06rem solid #eee;
    padding-bottom: 1rem;
}
.stripe-cupon-input {
    margin: 0;
}
.couponcode-wrap .couponcode-text {
    font-size: 14px;
    margin: 0 0.5rem 0.5rem;
    display: block;
}
#new_coupon b {
    font-weight: 400;
}
.couponcode-wrap input#coupon {
    margin: 0 6px;
}
div#transaction-status,
div#transaction-status-zero {
    margin: 15px;
    background: antiquewhite;
    color: chocolate;
    display: none;
}
.CardField-input-wrapper {
    overflow: inherit;
}
.coursebox .content .summary {
    width: 100%
}
button#apply,
button#payButton,
button#card-button-zero {
    color: #fff;
    background-color: #1177d1;
    border: 0;
    padding: 5px 16px;
    font-size: 13px;
}
input#coupon {
    border: 1px dashed #a2a2a2;
    padding: 3px 5px;
}
p {
    text-align: left;
}
.stripe-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
body#page-enrol-index #region-main .generalbox.info {
    width: 100%;
    box-shadow: none;
}
body#page-enrol-index #region-main .generalbox .card a img {
    max-width: 458px;
    height: 300px;
    padding: 0;
    box-shadow: 0 0 10px #b0afaf;
}
#page-enrol-index .access-btn {
    display: none;
}
.payment-left p {
    text-align: center;
}
#page-enrol-index #region-main-box .card-title {
    position: relative;
    line-height: 59px;
    font-size: 2rem;
    text-transform: capitalize;
}
.StripeElement {
    padding: 15px;
    border: 1px solid #e9ebec;
    background: #f9f9f9;
    box-shadow: 0 10px 6px -4px #d4d2d2;
}
.StripeElement input[placeholder],
[placeholder],
*[placeholder] {
    color: red !important;
}
@media (min-width: 200px) and (max-width: 700px) {
    .stripe-left {
        width: 100%;
    }
    #region-main {
        padding: 0;
    }
    .generalbox {
        width: 300px;
    }
    body#page-enrol-index #region-main .generalbox:last-of-type {
        width: 320px;
        margin: 0 auto;
        float: none;
    }
    #page-enrol-index p {
        text-align: center;
    }
    #apply {
        margin-top: 10px;
    }
    #coupon {
        margin-top: 10px;
    }
    #page-enrol-index #region-main-box .card-title {
        text-align: center;
    }
    #page-enrol-index #region-main-box .card-title:before,
    #page-enrol-index #region-main-box .card-title:after {
        display: none;
    }
    .couponcode-wrap {
        display: block;
    }
}
#region-main h2 {
    display: none;
}
.enrolmenticons {
    display: none;
}
#new_coupon {
    margin-bottom: 10px;
}
button#final-payment-button {
    line-height: 1;
}
</style>