.generalbox {
    margin: auto;
}

.strip-wrap {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    border-top: 0.06rem solid #eee;
    border-bottom: 0.06rem solid #eee;
    padding: 3rem 0;
}

.stripe-right {
    flex: auto;
}

.stripe-img {
    height: 68px;
    margin: 0rem auto 1.5rem;
    border-bottom: 0.06rem solid #eee;
    width: 48%;
    padding: 0.25rem 0;
}

.couponcode-wrap {
    padding: 1rem 0 1.5rem 0;
    border-top: 0.06rem solid #eee;
    margin: 1.25rem auto 0rem;
    width: 48%;
}

.stripe-line-left {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    width: 48%;
    margin: 0.5rem auto;
}

.stripe-line-left span {
    font-weight: 700;
}

.stripe-buy-btn {
    text-align: center;
    padding: 1.5rem 0 0;
    margin: 0rem auto 0;
    border-top: 0.06rem solid #eee;
    width: 52%;
}

.stripe-cupon-input input#coupon {
    border-radius: 1rem;
}

.stripe-cupon-apply#apply {
    border-radius: 1rem;
    background: #0a2540;
}

.stripe-dclr {
    margin: 0 auto;
    border-bottom: 0.06rem solid #eee;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    width: 48%;
    font-weight: 500;
}

.stripe-cupon-input {
    margin: 0;
}

.couponcode-wrap .couponcode-text {
    font-size: 14px;
    margin: 0 0 1rem;
    display: block;
}

#new_coupon b {
    font-weight: 400;
}

.couponcode-wrap input#coupon {
    margin: 0 4px 4px 0;
}

div#new_coupon p {
    margin: 0 0 -21px;
    padding: 5px;
}

div#transaction-status,
div#transaction-status-zero {
    margin: 15px;
    background: antiquewhite;
    color: chocolate;
    display: none;
}

.CardField-input-wrapper {
    overflow: inherit;
}

.coursebox .content .summary {
    width: 100%
}

input#coupon {
    border: 1px dashed #a2a2a2;
    padding: 3px 14px;
}

p {
    text-align: left;
}

.stripe-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

body#page-enrol-index #region-main .generalbox.info {
    width: 100%;
    box-shadow: none;
}

body#page-enrol-index #region-main .generalbox .card a img {
    max-width: 458px;
    height: 300px;
    padding: 0;
    box-shadow: 0 0 10px #b0afaf;
}

#page-enrol-index .access-btn {
    display: none;
}

.payment-left p {
    text-align: center;
}

#page-enrol-index #region-main-box .card-title {
    position: relative;
    line-height: 59px;
    font-size: 2rem;
    text-transform: capitalize;
}

.StripeElement {
    padding: 15px;
    border: 1px solid #e9ebec;
    background: #f9f9f9;
    box-shadow: 0 10px 6px -4px #d4d2d2;
}
@media (min-width: 200px) and (max-width: 700px) {

    .stripe-img,
    .stripe-dclr,
    .stripe-line-left,
    .couponcode-wrap,
    .stripe-buy-btn {
        width: 100%;
    }

    .stripe-left {
        width: 100%;
    }

    #region-main {
        padding: 0;
    }

    .generalbox {
        width: 300px;
    }

    body#page-enrol-index #region-main .generalbox:last-of-type {
        width: 320px;
        margin: 0 auto;
        float: none;
    }

    #page-enrol-index p {
        text-align: center;
    }

    #apply {
        margin-top: 10px;
    }

    #coupon {
        margin-top: 10px;
    }

    #page-enrol-index #region-main-box .card-title {
        text-align: center;
    }

    #page-enrol-index #region-main-box .card-title:before,
    #page-enrol-index #region-main-box .card-title:after {
        display: none;
    }

    .couponcode-wrap {
        display: block;
    }
}

#region-main h2 {
    display: none;
}

.enrolmenticons {
    display: none;
}

#new_coupon {
    margin-bottom: 10px;
}

button#final-payment-button {
    line-height: 1;
}
